@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270  20%  98%;
    --foreground: 257  10%  14%;
    --border: 262  11%  86%;
    --ring: 249  10%  75%;
    --primary: 249  6%  57%;
    --primary-hover: 252  5%  41%;
    --secondary: 276  12%  92%;
  }

  .dark {
    --background: 270  4%  10%;
    --foreground: 240  6%  94%;
    --border: 270  5%  24%;
    --ring: 258  5%  39%;
    --primary: 251  5%  45%;
    --primary-hover: 258  7%  72%;
    --secondary: 270  5%  17%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}